<div>
  <h1>
    Deleting <%= @subject.name %>
  </h1>

  <p>Are you sure you want to delete <b><%= @subject.name %></b>?</p>

  <%= form_for @subject, method: 'delete' do |n| %>
    <%= n.submit("Delete") %>
  <% end %>

</div>
